body {
    background-color: black; 
    color: white; 
    border: 50px solid rgb(255, 255, 255); 
}

#wrapper {
    max-width: 900px; 
    margin: 0 auto; 
}

nav ul {
    list-style: none; 
    display: flex; 
    justify-content: space-around; 
    padding: 15px;
    background-color: black
}

nav li {
    color: purple;
    font-size: 30px;
}    

nav li:hover {
    color: white; 
    cursor: pointer; 
}

img {
    margin: 50x;
    height: 900px;
}

h1 {
    text-align: center;
    font-size: 120px;
    color: purple;
    font-family: 'Creepster', cursive;
    
}
