/* BASE STYLES */
body {
  background-color: #ffffff;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
}

h2 {
  margin: 0;
}

#background {   
  background-color: #4a5446;
  height: 600px;
  padding: 0;
  margin-top: 100px;
  grid-column: 1/11;
  grid-row: 3/5;
  z-index: -1;
}

/* HEADER & NAV */
header {
  background-color: #ffffff; 
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

nav {
    display: flex;
}

nav a {
  color: #333;
  text-decoration: none; 
  text-align: center;
  padding: 15px 15px;
}

nav a:hover {
  background-color: #eee;
  color: #333; 
}


/* HERO SECTION */
#hero {
    display: grid;
    grid-template-columns: 1fr;
}
#hero-box {
    grid-column: 1/2;
    grid-row: 1/2;
}
#hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#hero-msg {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 100px;
    margin-top: 0;
}
#hero-msg h4 {
    color: #ffffff;
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* LOGO & ICONS */
.logo, .icon {
  width: 80px; 
}

.icon {
  width: 50px;
  padding-top: 15px;
}

/* BUTTON STYLES */
.book, .join {
  background-color: #2a9d8f; 
  color: #ffffff;
  text-decoration: none; 
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover, .join:hover {
  background-color: #21867a; 
  color: #f4f1de; 
}

/* CARDS SECTION */

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 0 5%;
}

.card-container {
    grid-column: 1/11;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 80%;
    margin: 50px auto;
}

.rivers-card, .camping-card, .rapids-card {
    text-align: center;
    background-color: transparent;
}

.card-img, .mountains {
    width: 100%;
    border: 3px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 2px 2px 5px #aaa;
}

.card-img:hover {
    opacity: .9;
    transform: scale(1.05);
}

.rivers-card > *, .camping-card > *, .rapids-card > * {
    display: block;
}

.mountains {
    grid-column: 2/7; 
    grid-row: 4/5; 
    width: 100%;
    height: auto;
    box-shadow: 5px 5px 10px #6f7364;
}

/* MESSAGE SECTIONS */
.msg {
    grid-column: 5/10; 
    grid-row: 4/5;
    align-self: end;
    margin-bottom: 50px;
    z-index: 10;
    background-color: #f4f1de; 
    line-height: 1.5em;
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
  color: #024873;   
  font-family: "Playfair Display", "Georgia", serif;
}

.msg p {
  color: #023047; 
  padding-bottom: 15px;
}

/* HEADINGS */
.home-title {
  color: #ffffff;  
  font-family: "Playfair Display", "Georgia", serif;
  font-size: 3em;
  margin-top: 0;
}

h4 {
  color: #023047;
}

/* FOOTER */
footer {
  background-color: #4a5446;
  padding: 25px 50px;
  margin-top: 100px; 
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer p {
  font-size: 1em; 
}

footer a {
  color: #f4f1de;
  text-decoration: none;
}

footer a:hover {
  color: #ffffff; 
}

footer p a:hover {
  text-decoration: underline; 
}

footer .social img {
  padding-top: 15px;
}

/* MEDIA QUERY */
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer, .card-container {
        flex-direction: column;
        display: flex;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}